.first{
    background-color: #37384e ;
    height: 900px;
    
}
#title{
    
    text-align: center;
    
}
.container-fluid{
    padding: 1% 1%;
}
.design-img{
    position: static;
    margin-left: 5rem;
    width: 30rem;
    
}
h1{
    font-size: 3.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    
    margin-top: 3%;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    
    
}

.content{
    text-align: left;
    margin-left: 3%;
    font-weight: 400;
    font-size: 1.5rem;
    padding: 15px;
    
}
.box{
    height: 60px;
    width: 350px;
}
.dwln-btn {
    margin: 10px 0;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    display: block;
    width: 350px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
.grid{
    padding: 130px 0  0 300px;
    border: 50%;
    
}
.size{
    width: 900px;
    height: 600px;
   
    border-radius: 8%;
    
    
}